*{
  padding: 0;
  margin: 0 ;
  transition: all 0.3s ease-in-out;
}

li{
  list-style: none;
}

.content{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
}

.content div{
 padding: 40px;
}

#box1{
  background-color: #999;
}

#box2{
  background-color: #666;
}

#box3{
 background-color: #333;
}

button{
  margin: 20px;
  height: 40px;
}