*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    transition: all 0.3s ease-in-out;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

.head{
    width: 60%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: auto;
}

.content{
    min-width: 300px;
    max-width: 1400px;
    /* width: 1200px; */
    padding: 40px;
    margin: auto;
}

.content .color-box{
    box-shadow: 0px 0px 8px 2px #c4cbcf;
    margin: 20px;
    overflow: hidden;
    border-radius: 8px;
}

.content .color-box:hover{
    box-shadow: 0px 0px 8px 2px #93b5cf;
}

.content .color-box .color-box-title{
    line-height: 50px;
    height: 50px;
    background: #c4cbcf;
    font-size: 16px;
    font-weight: 600;
    padding-left: 40px;
}

.content .color-box .color-box-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.content .color-box .color-box-list li{
    width: 100px;
    min-width: 30px;
    max-width: 120px;
    margin: 10px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}

.content .color-box .color-box-list li div{
    width: 40px;
    height: 40px;
}