*{
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  /* background: url(./bg.png) 100% 100%; */
}

.content{
  margin: 100px auto 0;
  width: 90%;
  height: auto;
}

.content .module{
  width: 90%;
  padding: 3%;
  margin: 4% auto;
  background-color: rgba(238, 238, 238, 0.88);
  border-radius: 8px;
  box-shadow: 4px 4px  12px 2px #777;
}

.content .module:hover{
  box-shadow: 6px 6px 14px 4px #777;
}

.content .module .lists{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:  30px 10px;
}

.content .module .lists li{
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  width: 44%;
}

.content .module .lists li a{
  color: #5698c3;
  border-bottom: 1px solid #5698c3;
}

.content .module .lists li a:hover{
  background-color: #5698c3;
  color: #fff;
}

.content .module .example li{
  padding: 10px;
  margin: 20px auto;
  box-shadow: 2px 2px 10px 2px #999;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

/* 小标题 */
.content .module .example .title{
  display: block;
  line-height: 50px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

/* 展开关闭按钮 */
.content .module .example .putAway{
  position: absolute;
  right: 50px;
  top: 25px;
  cursor: pointer;
  color: #5698c3;
}

.content .module .example code,
.content .module .example pre,
.content .module .example textarea{
  width: calc(100% - 28px);
  overflow: hidden;
  display: block;
  padding: 14px;
  margin: 10px 0;
  font-size: 16px;
  color: rgba(199, 199, 199);
  background-color: rgba(17, 29, 31);
  outline: none;
  border: none;
}

.content .module .example pre{
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.content .module .example textarea:focus{
  outline: none;
  border: none;
}

/* 按钮组 */
.content .module .example .buttons{
  display: flex;
}

.content .module .example .buttons button{
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin: 10px 30px;
  border: none;
  box-shadow: 1px 1px 4px 1px #aaa;
}

.content .module .example .buttons button:focus,
.content .module .example .buttons button:hover{
  outline: none;
  border: none;
  box-shadow: 0px 0px 4px 1px #5698c3;
}

/* 结果 */

/* 导航栏 */
.nav{
  position: fixed;
  z-index: 999;
  top: 10px;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  /* background-color: #999; */
}

.nav ul li ,
.nav ul li a{
  display: block;
  width: 20%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  background-color: #5697c31f;
}

.nav ul li a{
  width: 100%;
}

.nav ul li a:hover{
  transition: all 0.6s ease-in-out;
  box-shadow: 0 0 6px 1px #085497;

  text-shadow: 0 0 20px #085497;
  background-color: #5697c35e;
}
/* 
#Array{

}

#Date{

}

#Math{

}

#String{

} */