*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.main{
  width: 100vw;
  height: 100vh;
  background-image: url(./background.jpg);
  position: relative;
  overflow: hidden;
}
.main ul{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  height: 100px;
  flex-wrap: nowrap;
  justify-content: space-around;
  overflow: hidden;
}
.main ul li{
  transition: all 0.3s ease-in-out;
  height: 92px;
  width: 8%;
  border: 4px solid #000;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.main ul li:hover{

  border: 4px solid rgba(0, 0,0,0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.main ul li p {
  text-align: center;
  line-height: 78px;
  color: #fff;
  font-size: 38px;
  font-weight: bold;
  
}
.main ul li span{
  position: absolute;
  text-align: center;
  bottom: 5px;
  right: 0;
  left: 0;
  margin: auto;
  color: #876723;
  font-size: 16px;
}