*{
  padding: 0;
  margin: 0 ;
  transition: all 0.3s ease-in-out;
}

li{
  list-style: none;
}

.content{
  width: 30%;
  margin: auto;
  padding: 100px;
  box-shadow: 0 0 10px 2px #2486b9;
  margin-top: 100px;
  overflow:hidden;
  border-radius: 8px;
}

.content .operation{
  width: 80%;
  margin: auto;
  display: flex;
  height: 40px;
  line-height: 40px;
  margin-bottom: 50px;
}

.content .operation input{
  flex: 4;
  border-radius: 8px 0 0 8px  ;
  outline: none;
  border: 1px solid #2486b9;
  padding-left: 8px;
}

.content .operation input:focus{
  outline: none;
  box-shadow: 0 0 10px 2px #2485b980;
}

.content .operation button{
  flex: 1;
  outline: none;
  border: 1px solid #2486b9;
  border-radius: 0 8px  8px 0;
}

button:hover{
  background-color: #baccd9;
}

.content .list{
  width: 80%;
  margin: auto;

}
.content .list li {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.content .list li input{
  width: 70%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #999;
  border-radius: 8px;
  padding: 0 3%;
  margin: 10px auto;
}
.content .list li button{
  width: 10%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #999;
  border-radius: 8px;
  padding: 0 3%;
  margin: 10px auto;

}
.content .list li  input:focus,
button{
  outline: none;
}
.content .list li  input:focus{
  background: transparent;
}
