*{
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

li{
 list-style: none;
}

/* 内容 */
.content{
    width: 96%;
    margin: auto;
    font-family: "微软雅黑"
}

/* 菜单路径 */

.content .path{
    margin-top: 40px;
}

.content .path p{
    font-size: 16;
    font-weight: bold;
}

.content .main{
    display: flex;
}

/*  
    左边内容
*/

.content .main .main-left{
    margin-top: 30px;
    width: 70%;
    padding-left: 1%;
}

/* 提交审核时间 */
.content .main .main-left .submit-time{
    padding-left: 10px;
}

.content .main .main-left .submit-time .time{
    padding-left: 1%;
}

/* 
    模块
*/

.content .main .main-left .module{
    margin-top: 20px;
    width: 80%;
}

.content .main .main-left .module .module-title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px;
}

.content .main .main-left .module .module-content{
    background-color: rgb(237, 237, 237);
    padding-left: 10px;
}

.content .main .main-left .module .module-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content .main .main-left .module .module-content li{
    width: 100%;
    height: 44px;
    line-height: 44px;
    display: flex;
    font-size: 14px;
    font-weight: 400;
}
.content .main .main-left .module .module-content li p{
    width: 100px;
}
.content .main .main-left .module .module-content li span{
    font-weight: 400;
    width: calc(100% - 120px);
}

.content .main .main-left .module .module-content .module-content-text{
    height: auto;
}

.content .main .main-left .module .module-content .module-content-text span{
    font-size: 12px;
    line-height: 18px;
    padding-top: 12px;
    color: rgb(193, 193, 193);
}

/* 
    图片
*/
.content .main .main-left .module .module-content li img{
    margin-right: 10px
}

/*  
    右边内容
*/
.content .main .main-right{
    width: 30%;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
}

.content .main .main-right ul{
    margin-top: 49px;
}

/*  
    操作部分
*/

 .operation{
    margin-top: 30px;
    padding: 1%;
    background-color: rgb(229, 229, 229);
}

 .operation ul li{
    width: 96%;
    font-size: 14px;
    margin: auto;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    background-color: rgb(237, 237, 237);
    margin-bottom: 20px;
    display: flex;
}

.operation ul li .title{
    font-weight: bold;
    width: 100px;
}

.operation ul li button{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-right: 20px;
    background-color: rgb(196, 196, 196);
    outline: none;
    border: none;
}

.operation ul li button:active{
    background-color: rgb(126, 126, 126);
}